@import "primeicons/primeicons.css";
@import "vue-toastification/dist/index.css";
@import "tailwindcss";

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
